.swiper-button-next,
.swiper-button-prev{
    color: red;
    
}

.swiper-button-next:after,
.swiper-button-prev:after{
    font-size: 30px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}

.swiper-scrollbar{
    background: rgba(255, 255, 255, 0.153);
}

.swiper-scrollbar-drag{
    background: rgba(255, 255, 255, 0.579);
    
}
.swiper-pagination-bullet{
    background-color: red;
    
}
@media screen and (Max-width:480px) {
    .swiper-button-next:after,
.swiper-button-prev:after{
    font-size: 15px;
}
.swiper-pagination-bullet{
    width: 5px;
    height: 5px;
    
}
}